<link rel="stylesheet" href="{CSS_ADD}admin/index/index.css">

<ul class="nav">
    <div class="nav-left">
        <span>本页面仅作练习参考，如有侵权，立即删除</span>
        <img src="{IMG_ADD}logo.png" alt="">
    </div>


<!--nav开始 -->
    <ul class="nav-list">

        {foreach $menuData as $v}
        <li>
            <div class="box"></div>
            <a href="/server/mvc/index.php/index/category?cid={$v['cid']}">{$v["cname"]}</a>
            {if isset($v["child"])}
            <div class="more-1">
                {foreach $v["child"] as $v1}

                    <a href="/server/mvc/index.php/index/lists?cid={$v1['cid']}">
                        {$v1["cname"]}
                    </a>

                {/foreach}
            </div>
            {/if}
        </li>
        {/foreach}
    </ul>
<!--nav结束-->
<!--banner开始-->
    <div class="banner">
        <div class="banner-box">
            <a href="javascript:;">
                <div class="smbanner-1">
                    <img src="http://www.feeleast.com/uploadfile/image/20191029/20191029101429_89538.png" alt="">
                </div>
                <img src="http://www.feeleast.com/uploadfile/image/20191029/20191029101429_52709.jpg" alt="">
            </a>
            <a href="javascript:;">
                <div class="smbanner-2">
                    <img src="http://www.feeleast.com/uploadfile/image/20191029/20191029101409_15254.png" alt="">
                </div>
                <img src="http://www.feeleast.com/uploadfile/image/20191029/20191029101409_41113.jpg" alt="">
            </a>
            <a href="javascript:;">
                <div class="smbanner-1">
                    <img src="http://www.feeleast.com/uploadfile/image/20191029/20191029101355_74519.png" alt="">
                </div>
                <img src="http://www.feeleast.com/uploadfile/image/20191029/20191029101354_74297.jpg" alt="">
            </a>
            <a href="javascript:;">
                <img src="http://www.feeleast.com/uploadfile/image/20191029/20191029101429_52709.jpg" alt="">
            </a>
        </div>
        <ul class="banner-btns">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
<!--banner结束-->
    <script src="{JS_ADD}index.js"></script>

    <script src="{JS_ADD}aniMath.js"></script>


<!--    <ul class="nav-list">-->
<!--        <li>-->
<!--            <div class="box"></div>-->
<!--            <a href="lianxi.html">联系我们</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <div class="box"></div>-->
<!--            <a href="newsone.html">新闻资讯</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <div class="box"></div>-->
<!--            <a href="kehu.html">知名客户</a>-->
<!--        </li>-->
<!--        <li class="list-changping">-->
<!--            <div class="box"></div>-->
<!--            <a href="prodtct.html">产品中心</a>-->
<!--            <div class="more-2">-->
<!--                <a href="javascript:;">MES</a>-->
<!--                <a href="javascript:;">SCADA</a>-->
<!--                <a href="javascript:;">ANTON</a>-->
<!--                <a href="javascript:;">EMS</a>-->
<!--                <a href="javascript:;">计算机视觉系统(CVS)</a>-->
<!--                <a href="javascript:;">机器人智能抓取系统(RIGS)</a>-->
<!--                <a href="javascript:;">质量(生成)追溯系统(QTS)</a>-->
<!--                <a href="javascript:;">自动化控制系统(DCS)</a>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="list-about">-->
<!--            <div class="box"></div>-->
<!--            <a href="jianjie.html">关于丰逸</a>-->
<!--            <div class="more-1">-->
<!--                <a href="jianjie.html">丰逸简介</a>-->
<!--                <a href="wenhua.html">企业文化</a>-->
<!--                <a href="team.html">核心团队</a>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--            <div class="box"></div>-->
<!--            <a style="color: blue;" href="index.html">网站首页</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->